.dropdownContainer {
	position: absolute;
	top: 70px;
	left: 0;
	width: 100%;
	padding: var(--spacing-200);
	border-radius: var(--radius-12);
	border: 1px solid var(--colors-neutral-700);
	background-color: var(--netutral-800);
}

.dropdownList {
	list-style: none;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.dropdownItem,
.loadingRow {
	width: 100%;
	padding: var(--spacing-200);
	border: 1px solid transparent;
	text-align: start;
	cursor: pointer;
}

.dropdownItem:hover {
	width: 100%;
	border-radius: var(--corner-radius-8, 8px);
	border: 1px solid var(--colors-neutral-600, #3c3b5e);
	background: var(--colors-neutral-700, #302f4a);
}

.loadingRow {
	display: flex;
	align-items: center;
	gap: 1rem;
	padding: 1rem 0;
}
