.weatherContainer {
	grid-column: 1 / 9;
	width: 100%;
	height: 244px;
	background-color: var(--neutral-800);
	border-radius: var(--radius-16);
}

.weatherInfo {
	background: url('../../assets/images/bg-today-large.png');
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	width: 100%;
	height: 244px;
	padding: var(--spacing-800) var(--spacing-500);
	align-items: center;
	align-self: stretch;
	justify-content: space-between;
	background-color: var(--neutral-800);
	border-radius: var(--radius-16);
}

.temperature {
	display: flex;
	align-items: center;
	gap: var(--spacing-500);
}

.weatherIcon {
	width: 120px;
	height: 120px;
}

.temperatureValue {
	font-size: var(--tp1-size);
	font-weight: var(--tp1-weight);
	font-style: var(--tp1-style);
}

@media (max-width: 782px) {
	.weatherContainer {
		grid-column: 1 / -1;
		width: unset;
	}
	.weatherInfo {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background: url('../../assets/images/bg-today-small.png');
		background-size: cover;
		background-repeat: no-repeat;
	}
}
