.button {
	background: var(--blue-500);
	border: none;
	border-radius: var(--radius-12);
	cursor: pointer;
	padding: var(--spacing-200) var(--spacing-300);
	font-size: var(--tp5-size);

}

.searchButton {
	grid-column: 9 / 11;
	justify-self: flex-start;
}
