.weatherDetails {
	grid-column: 1 / 9;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: var(--spacing-300);
	width: 100%;
}

@media (max-width: 792px) {
	.weatherDetails {
		flex-wrap: wrap;
	}
}
