.hourly {
	grid-column: 9 / 13;
	grid-row: 3 / 6;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: var(--spacing-200);
	background-color: var(--neutral-800);
	width: 100%;
	height: 615px;
	padding: var(--spacing-300) 0;
	border-radius: var(--radius-20);
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 0 var(--spacing-300);
	margin-bottom: var(--spacing-200);
}

.forecastList {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: var(--spacing-200);
	padding: 0 var(--spacing-300);
	width: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
}

.forecastList::-webkit-scrollbar {
	width: 12px;
	height: 12px;
}

.forecastList::-webkit-scrollbar-track {
	border-radius: 8px;
	background: #302f4a;
}

.forecastList::-webkit-scrollbar-thumb {
	background-color: #4658d9;
	border-radius: 6px;
}

.forecastList::-webkit-scrollbar-thumb:hover {
	background: #888;
}

.forecastItem {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 var(--spacing-100);
	width: 100%;
	border-radius: var(--radius-8);
	border: 1px solid var(--neutral-600);
	background: var(--neutral-700);
}

.weatherIcon {
	width: 50px;
	height: 50px;
}

.forecastDetails {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: var(--spacing-200);
}

.hourelyMenuContainer {
	position: relative;
}
