.navbar {
	display: flex;
	justify-content: space-between;
	min-width: 1200px;
}

.menu {
	position: relative;
}

@media (max-width: 1200px) {
	.navbar {
		min-width: unset;
		width: 100%;
		padding: 0 var(--spacing-300);
	}
}

@media (max-width: 792px) {
	.logo {
		width: 138px;
	}
}
