#root {
	display: grid;
	grid-template-columns: repeat(12, var(--spacing-900));
	gap: var(--spacing-300);
	margin: 0 auto;
	text-align: center;
	place-content: center;
}

header {
	grid-column: 1 / -1;
	margin-top: var(--spacing-300);
}

main {
	grid-column: 1 / -1;
	display: grid;
	grid-template-columns: repeat(12, var(--spacing-900));
	grid-template-rows: auto;
	gap: var(--spacing-300);
}

.title {
	grid-column: 3 / 11;
	place-self: center;
	padding: var(--spacing-500) 0;
	font-size: var(--tp2-size);
	font-weight: var(--tp2-weight);
	line-height: var(--tp2-lh);
}
