#root {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-300);
	margin: 0 auto;
	text-align: center;
	justify-content: center;
	align-items: center;
}

header {
	grid-column: 1 / -1;
	margin-top: var(--spacing-300);
}

main {
	grid-column: 1 / -1;
	display: grid;
	grid-template-columns: repeat(12, var(--spacing-900));

	gap: var(--spacing-300);
	justify-items: center;
}
.title {
	grid-column: 3 / 11;
	padding: var(--spacing-500) 0;
	font-family: var(--font-bricolage);
	font-size: var(--tp2-size);
	font-weight: var(--tp2-weight);
}

@media (max-width: 1200px) {
	#root {
		max-width: 1200px;
	}
	main {
		grid-template-columns: repeat(8, var(--spacing-900));
	}

	.title {
		grid-column: 1 / -1;
	}

	header {
		width: 100%;
	}
}

@media (max-width: 792px) {
	main {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: var(--spacing-300);
		width: 100%;
	}
}
