@font-face {
	font-family: 'Bricolage Grotesque';
	src: url('./assets/fonts/BricolageGrotesque-VariableFont.ttf') format('truetype');
	font-weight: 200 800;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'DM Sans';
	src: url('./assets/fonts/DMSans-VariableFont.ttf') format('truetype');
	font-weight: 100 1000;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'DM Sans';
	src: url('./assets/fonts/DMSans-Italic-VariableFont.ttf') format('truetype');
	font-weight: 100 1000;
	font-style: italic;
	font-display: swap;
}

:root {
	/* --Colors-- */

	/* Neutral */
	--neutral-900: #02012c;
	--neutral-800: #262540;
	--neutral-700: #302f4a;
	--neutral-600: #3c3b5e;
	--neutral-300: #acacb7;
	--neutral-200: #d4d3d9;
	--neutral-0: #ffffff;

	/* Orange */
	--orange-500: #ff820a;

	/* Blue */
	--blue-700: #2b1b9c;
	--blue-500: #4658d9;

	/* --Spacing-- */
	--spacing-1800: 140px;
	--spacing-1600: 128px;
	--spacing-1400: 112px;
	--spacing-1200: 96px;
	--spacing-1000: 80px;
	--spacing-900: 72px;
	--spacing-800: 64px;
	--spacing-700: 56px;
	--spacing-600: 48px;
	--spacing-500: 32px;
	--spacing-400: 40px;
	--spacing-300: 24px;
	--spacing-250: 20px;
	--spacing-200: 16px;
	--spacing-175: 14px;
	--spacing-150: 12px;
	--spacing-125: 10px;
	--spacing-100: 8px;
	--spacing-075: 6px;
	--spacing-050: 4px;
	--spacing-025: 2px;
	--spacing-0: 0px;

	/* --Radius--*/
	--radius-full: 999px;
	--radius-24: 24px;
	--radius-20: 20px;
	--radius-16: 16px;
	--radius-12: 12px;
	--radius-10: 10px;
	--radius-8: 8px;
	--radius-6: 6px;
	--radius-4: 4px;
	--radius-2: 2px;
	--radius-0: 0px;

	/* Typography */
	--font-dm-sans: 'DM Sans', sans-serif;
	--font-bricolage: 'Bricolage Grotesque', sans-serif;

	/* Text Preset 1 - SemiBold Italic */
	--tp1-weight: 600;
	--tp1-size: 96px;
	--tp1-letter-spacing: -2px;
	--tp1-style: italic;

	/* Text Preset 2 - Bold */
	--tp2-weight: 700;
	--tp2-size: 52px;

	/* Text Preset 3 - Light */
	--tp3-weight: 300;
	--tp3-size: 32px;
	--tp3-lh: 100%;

	/* Text Preset 4 - Bold */
	--tp4-weight: 700;
	--tp4-size: 28px;

	/* Text Preset 5 - SemiBold */
	--tp5-weight: 600;
	--tp5-size: 20px;

	/* Text Preset 5 (Medium) */
	--tp5m-weight: 500;
	--tp5m-size: 20px;

	/* Text Preset 6 - Medium */
	--tp6-weight: 500;
	--tp6-size: 18px;

	/* Text Preset 7 - Medium */
	--tp7-weight: 500;
	--tp7-size: 16px;

	/* Text Preset 8 - Regular */
	--tp8-weight: 400;
	--tp8-size: 14px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: var(--neutral-0);
	font-family: var(--font-dm-sans);
	line-height: 120%;
}

body,
html {
	width: 100%;
}

body {
	background-color: var(--neutral-900);
}

.loading {
	animation: spinner 1.5s linear infinite;
}

hr {
	width: 100%;
	border: 1px solid var(--neutral-600);
}

@keyframes spinner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
